* {
  margin: 0;
}
html,
body {
  --grey: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh
}

.container {
  max-width: 250px;
  color: var(--grey);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  clip-path: polygon(50% 2%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
.linkedin {
  width: 48px;
  height: 48px;
  background-color: white;
}
